body {
  background-color: lightslategray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: 'Dancing Script';
}

#store-index {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5vw;
  row-gap: 5vh;
}

.item-listing {
  background-color: white;
  width: 15rem;
  height: 20rem;
  padding: 1rem;
}